@include xl {
    .contacts {
        h1 {
            color: $text-color;
            text-align: center;
        }
    }
}
@include lg {
    .contacts {
        h1 {
            color: $text-color;
            text-align: center;
        }
    }
}
@include md {
    .contacts {
        h1 {
            color: $text-color;
            text-align: center;
        }
    }
}
