@include xl {
  .portfolio {
      h1 {
          color: $text-color;
          text-align: center;
      }
  }
}
@include lg {
  .portfolio {
      h1 {
          color: $text-color;
          text-align: center;
      }
  }
}
@include md {
  .portfolio {
      h1 {
          color: $text-color;
          text-align: center;
      }
  }
}
