@include xl-more {
  .services {
    padding: 0;
    margin: 0;
    height: 100vh;
    .services-hero {
      height: 70%;
      display: flex;
      justify-content: center;
      .services-hero-title {
        color: $primary-color;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        h1 {
          font-size: 10rem;
        }
        h3 {
          font-size: 3rem;
        }
      }
      .services-hero-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .services-type {
      margin-top: 10%;
      .services-list {
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 60px;
        place-content: center;
        .services-list-descr {
          align-items: flex-start;
          display: flex;
          flex-flow: column;
          gap: 20px;
          width: 31%;
          h2 {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 700;
          }
          p {
            color: $text-color;
          }
        }
      }
    }
    
    .services-highlights {
      text-align: center;
      width: 40%;
      margin: 5% auto;
      display: flex;
      flex-flow: column;
      gap: 10px;
      height: 300px;
      h2 {
        color: $primary-color;
        font-weight: 700;
        font-size: 2.5rem;
      }
      p {
        color: $text-color;
        font-size: 1.3rem;
      }
    }
  }
}

@include xl {
  .services {
    padding: 0;
    margin: 0;
    height: 100vh;
    .services-hero {
      height: 70%;
      display: flex;
      justify-content: center;
      .services-hero-title {
        color: $primary-color;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        h1 {
          font-size: 10rem;
        }
        h3 {
          font-size: 3rem;
        }
      }
      .services-hero-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .services-type {
      margin-top: 10%;
      .services-list {
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        gap: 60px;
        place-content: center;
        .services-list-descr {
          align-items: flex-start;
          display: flex;
          flex-flow: column;
          gap: 20px;
          width: 31%;
          h2 {
            color: $primary-color;
            font-size: 2rem;
            font-weight: 700;
          }
          p {
            color: $text-color;
          }
        }
      }
    }
    
    .services-highlights {
      text-align: center;
      width: 40%;
      margin: 5% auto;
      display: flex;
      flex-flow: column;
      gap: 10px;
      height: 300px;
      h2 {
        color: $primary-color;
        font-weight: 700;
        font-size: 2.5rem;
      }
      p {
        color: $text-color;
        font-size: 1.3rem;
      }
    }
  }
}

@include lg {
  .services {
    .services-hero {
      .services-hero-title {
        h1 {
          font-size: 8rem;
        }
        h3 {
          font-size: 2rem;
        }
      }
    }
  }
}

@include md {
  .services {
    .services-hero {
      .services-hero-title {
        h1 {
          font-size: 4.5rem;
        }
      }
      .services-hero-img {
        width: 70%;
      }
    }

    .services-type {
      .services-list {
        .services-list-descr {
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: .8rem;
          }
        }
        .home-advantages-img {
          img {
            width: 300px;
          }
        }
      }
    }

    .services-highlights {
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: .8rem;
      }
    }
  }
}

@include sm {
  .services {
    .services-hero {
      height: 100vh;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .services-hero-title {
        align-items: center;
        h1 {
          font-size: 4rem;
        }
      }
      .services-hero-img {
        width: 70%;
      }
    }

    .services-type {
      .services-list {
        flex-wrap: wrap;
        gap: 20px;
        margin: 20px 0;
        .services-list-descr {
          width: 70%;
          h2 {
            font-size: 1.5rem;
          }
          p {
            font-size: .8rem;
          }
        }
        .home-advantages-img {
          
          img {
            width: 310px;
          }
        }
      }
    }

    .services-highlights {
      width: 70%;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: .8rem;
      }
    }
  }
}


