* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
    
}

body {
    max-width: 1440px;
    margin: auto;
    line-height: 1.6;
    overflow: hidden;
    background-color: $background-color;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}