* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}

body {
    max-width: 1440px;
    margin: auto!important;
    line-height: 1.6;
    overflow: hidden;
    background-color: $background-color;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.fp-watermark {
    display: none;
}

h1, h2, h3 {
    font-family: $font-stack;
}

p {
    font-family: $font-stack;
}