* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto !important;
  line-height: 1.6;
  overflow: hidden;
  background-color: rgb(24, 24, 24);
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.fp-watermark {
  display: none;
}

@media (max-width: 1200px) {
  .mob {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop .navbar {
    display: flex;
  }
  .desktop .navbar .logo {
    flex-grow: 1;
  }
  .desktop .navbar .logo a img {
    width: 140px;
  }
  .desktop .navbar .navbar-body {
    flex-grow: 2;
  }
  .desktop .navbar .navbar-body .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .desktop .navbar .navbar-body .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
  }
  .desktop .navbar .navbar-body .navbar-nav .nav-item .nav-link.active {
    color: rgb(255, 181, 82);
  }
  .desktop .navbar .navbar-footer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  .desktop .navbar .navbar-footer .navbar-button {
    padding: 10px 15px;
    border: 1px solid rgb(255, 181, 82);
    border-radius: 20px;
    font-size: 1.25rem;
    background-color: transparent;
    color: white;
    transition: 0.6s ease-in-out;
    font-weight: 400;
  }
  .desktop .navbar .navbar-footer .navbar-button:hover {
    background-color: rgb(255, 181, 82);
    color: black;
  }
}
@media (min-width: 992px) {
  .mob {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop .navbar {
    display: flex;
  }
  .desktop .navbar .logo {
    flex-grow: 1;
  }
  .desktop .navbar .logo a img {
    width: 140px;
  }
  .desktop .navbar .navbar-body {
    flex-grow: 2;
  }
  .desktop .navbar .navbar-body .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .desktop .navbar .navbar-body .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.25rem;
  }
  .desktop .navbar .navbar-body .navbar-nav .nav-item .nav-link.active {
    color: rgb(255, 181, 82);
  }
  .desktop .navbar .navbar-footer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  .desktop .navbar .navbar-footer .navbar-button {
    padding: 10px 15px;
    border: 1px solid rgb(255, 181, 82);
    border-radius: 20px;
    font-size: 1.25rem;
    background-color: transparent;
    color: white;
    transition: 0.6s ease-in-out;
    font-weight: 400;
  }
  .desktop .navbar .navbar-footer .navbar-button:hover {
    background-color: rgb(255, 181, 82);
    color: black;
  }
}
@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mob {
    display: block;
  }
  .mob .navbar {
    background-color: transparent;
  }
  .mob .navbar .container-fluid .navbar-brand {
    color: rgb(255, 181, 82);
    font-size: 25px;
    letter-spacing: 2px;
  }
  .mob .navbar .container-fluid .navbar-toggler {
    border: none;
  }
  .mob .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    width: 30px;
  }
  .mob .navbar .container-fluid .offcanvas {
    width: 100%;
    background: rgb(24, 24, 24);
  }
  .mob .navbar .container-fluid .offcanvas .offcanvas-header {
    justify-content: end;
  }
  .mob .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item a {
    font-size: 3rem;
  }
  .mob .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item a.active {
    color: rgb(255, 181, 82);
  }
}
.swiper-container {
  height: 100vh;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
form input, form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid;
}
form button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#fp-nav {
  display: none;
}

@media (min-width: 992px) {
  .section {
    height: 85vh;
    position: relative;
  }
  .section .fp-slides {
    height: 93%;
  }
  .section .fp-controlArrow {
    top: 92%;
  }
  .section .fp-controlArrow.fp-prev {
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-image: url("/assets/images/leftArrow.png");
    background-repeat: no-repeat;
  }
  .section .fp-controlArrow.fp-next {
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("/assets/images/rightArrow.png");
  }
  .section .fp-slidesNav {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .section .fp-slidesNav ul li a span {
    background: rgb(255, 181, 82);
  }
}
@media (max-width: 1200px) {
  .home h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .home h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .home h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .services h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .services h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .services h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .portfolio h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .portfolio h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .portfolio h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .contacts h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .contacts h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contacts h1 {
    color: #ffffff;
    text-align: center;
  }
}
@media (max-width: 768px) {
  header .container {
    flex-direction: column;
  }
  header nav ul {
    margin-top: 1rem;
  }
  .service-boxes {
    flex-direction: column;
  }
  .service-boxes .box {
    margin-bottom: 1rem;
  }
  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=style.css.map */